<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.weli.mediaplayer">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MediaApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_music"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.weli.mediaplayer.module.main.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.main.find.webview.WebViewActivity"/>
        <activity android:name=".module.detail.MusicDetailActivity"/>
        <service android:name=".service.MediaService"/>
    </application>

</manifest>